html, body {
	padding: 0;
	margin: 0;
	background-color: black;
	color: #d0d0d0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: orange;
	border-bottom: 2px solid orange;
	cursor: pointer;
	text-decoration: none;
	transition: 0.3s;
}

a:hover {
	border-bottom: 2px solid white;
}

* {
	box-sizing: border-box;
}

ul {
	list-style: none;
}

hr {
	border: 2px solid whitesmoke;
	width: 60%;
	background-color: whitesmoke;
	border-radius: 2px;
}