.start {
	min-height: 40vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
	margin: 0;
	line-height: 1.15;
	font-size: 4rem;
}

.title, .description {
	text-align: center;
}

.description {
	margin: 1rem 0;
	line-height: 1.5;
	font-size: 1.5rem;
}

.tutorial > li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-width: 50rem;
	padding: 3rem 5rem;
	max-width: 70rem;
	margin: 5rem;
	font-size: 1.2rem;
	border: 2px solid whitesmoke;
	border-radius: 20px;
	box-shadow: 0 6px 12px rgba(255, 255, 255, 0.25), 0 12px 24px rgba(255, 255, 255, 0.22);
}

.tutorial iframe {
	margin: 2rem 0rem;
	width: 50rem;
	height: 30rem;
	border: 0;
	border-radius: 20px;
	box-shadow: 0 6px 12px rgba(255, 255, 255, 0.25), 0 12px 24px rgba(255, 255, 255, 0.22);
}

.tutorial h1 {
	color: orange;
}

.tutorial p {
	margin: 0;
}

.tutorial h3 {
	margin: 0;
}